<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sournary.materialdesigntutorial">

    <!-- Make app can be run on every device not only for leanback UI -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <!-- Identify you app as being able to work on a TV device -->
    <!-- If you do not define, your app will not appear in Google Play on TV devices -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NavFadeThroughActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialTutorial.NavFadeThrough">

        </activity>
    </application>
</manifest>
